@import "../core.sass"

header, .header
  position: fixed
  width: 100%
  height: 60px
  top: 0
  z-index: 999
  background-color: rgba(255,255,255,.9)

footer, .footer
  height: 50px
  text-align: center
  line-height: 50px
  background-color: #333
  color: #fff

/*LOGO*/
.logo
  position: fixed
  margin: 5px 0 0 0
  height: 115px
  width: 115px
  background-color: #fff
  z-index: 999
  box-shadow: 1px 1px 5px #333, -1px -1px 5px #333
  text-align: center

.logo img
  //float: left
  vertical-align: bottom

.logo-text
  line-height: 1em
  font-size: 20px
  //float: left
  //margin-left: 10px
  font-weight: bold
  margin-top: 10px
  small
    display: block
    letter-spacing: 3px
    font-weight: bold
    font-family: "微软雅黑"

/*SideMenu*/
.quick-menu
  float: right
  text-align: right
  font-size: 12px
  margin-top: 8px
  ul
    float: right
    line-height: 20px
    list-style: none
    margin: 0
    li
      float: left
  a
    padding: 0 5px
    color: $cMain
    text-decoration: none
  a:hover
    color: rgb(238, 102, 17)
  img
    vertical-align: text-bottom
  strong
    font-size: 1.5em
    font-weight: bold

/*Nav*/
nav
  background: rgba(0,0,0,.5)
  position: fixed
  width: 100%
  top: 60px
  z-index: 99

nav ul
  float: left
  margin: 0 0 0 150px
  list-style: none
  line-height: 50px
  font-weight: bold

nav ul li
  float: left

nav ul li.active
  background-color: #064279

nav ul li:not(.active):hover
  background-color: #666

nav a
  color: #fff
  padding: 0 20px

nav a:hover
  color: #fff
  text-decoration: none


/*Background*/
.header.bg
  background-color: #ffaa22
  color: #fff




/*Slider*/
.slider
  width: 100%
  height: 400px
  position: relative
  background: #d5d5d5
  overflow: hidden
  min-width: 980px

.slider:after
  content: ''
  width: 100%
  height: 400px
  display: block

/*slider-img*/
.slider-main
  position: absolute
  width: 100%
  list-style: none
  margin: 0
  padding: 0
  top: 0px
  transition: top .3s linear

.slider-main li
  position: relative
  width: 100%
  height: 400px

/*slider-btn*/
.slider-btn
  position: absolute
  bottom: 30px
  width: 100%
  text-align: center

.slider-btn a
  display: inline-block
  width: 20px
  height: 20px
  background: rgba(255, 255, 255, .3)
  margin: 0 5px
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  border-radius: 50%

.slider-btn a.active
  background: rgba(255, 255, 255, .8)


/*Floater*/
.absolute-toolkit
  width: 100%
  height: 0px
  min-width: 980px
  position: relative

.absolute-right
  width: 240px
  background: rgba(0, 0, 0, .8)
  position: absolute
  top: -360px
  right: 20px

.absolute-right img
  width: 200px
  height: 200px
  margin: 10px 20px

.toolkit-button
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px
  width: 220px
  padding: 10px
  margin: 10px
  text-align: center
  background: #fa2

.slide-list
  position: relative
  height: 100%
  width: 100%
  &:after
    display: block
    content: ''
    clear: both
  .arrow
    position: absolute
    width: 50px
    height: 200px
    cursor: pointer
    z-index: 1
    &.arrow-left
      left: 0
      background: url('/images/arrow_left.png') no-repeat center, rgba(0, 0, 0, 0.1)
    &.arrow-right
      right: 0
      background: url('/images/arrow_right.png') no-repeat center, rgba(0, 0, 0, 0.1)
  .slide-content
    position: absolute
    width: 100%
    padding: 0 50px
    table
      //display: none
      position: absolute
      top: 0
      width: 680px
      opacity: 0
      +transition(opacity 0.3s linear)
      &.active
        //display: table
        opacity: 1
  .slide-light
    position: absolute
    bottom: -5px
    width: 100%
    text-align: center
    span
      display: inline-block
      width: 20px
      height: 4px
      background-color: #cccccc
      margin: 5px
      bottom: 0
      +border-radius(2px)
      &.active
        background-color: #333333

#data-container
  height: 200px
  position: relative
#data-list
  position: absolute
  height: 200px
  width: 780px
  left: 0
  top: 0
  z-index: 1
#data-update
  position: absolute
  right: 0
  top: 0
  width: 200px
  height: 200px
  text-align: center
  font-size: 2em
  font-weight: bold
  background: #1F459A
  color: #fff
  display: table
  div
    display: table-cell
    height: 100%
    vertical-align: middle


.professional-area
  width: 100%
  height: 280px

#news

#news-title
  li
    width: 180px
    margin-right: 20px
    text-align: center
    background: #cccccc
    position: relative
    cursor: pointer
    a
      color: #333
    &:last-child
      margin-right: 0
    &.active
      background: $cMain
      color: #fff
      a
        color: #fff
      &:after
        content: ''
        width: 0
        height: 0
        border: 15px solid $cMain
        border-right-color: transparent
        border-left-color: transparent
        border-bottom-color: transparent
        position: absolute
        top: 40px
        left: 75px

#news-content
  div
    display: none
    &.active
      display: block
  img
    vertical-align: top
    margin-top: 30px
  ul
    margin-left: 20px
    width: 370px
    li
      padding: 5px 0
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      &:before
        content: '>'
        display: inline-block
        margin-right: 5px
      a
        color: #333
        &:hover
          color: orange

#career
  background: url('/images/border.png') repeat-y top left
  padding-left: 40px
  ul
    li
      padding: 10px 0

#contact
  height: 350px
  background: url('/images/contact_bg.jpg') no-repeat center/cover
  background-size: cover
  position: relative

#contact-form
  .form-control
    color: #add1f1
  input.form-control
    height: 40px
    padding-left: 30px
  textarea.form-control
    height: 140px
    padding-left: 30px
    resize: none
  button.btn
    height: 40px
  p
    position: relative
    &:before
      position: absolute
      font-family: FontAwesome
      left: 0
      display: block
      width: 30px
      padding-top: 9px
      text-align: center
      color: #add1f1
  #input_user:before
    content: '\f007'
  #input_email:before
    content: '\f003'
  #input_phone:before
    content: '\f098'
  #input_message:before
    content: '\f044'
    padding-top: 5px