@charset "UTF-8";
header { position: fixed; width: 100%; height: 60px; top: 0; z-index: 999; background-color: rgba(255, 255, 255, 0.9); }

/*LOGO */
.logo { position: fixed; margin: 5px 0 0 0; height: 115px; width: 115px; background-color: #fff; z-index: 999; box-shadow: 1px 1px 5px #333, -1px -1px 5px #333; text-align: center; }

.logo img { vertical-align: bottom; }

.logo-text { line-height: 1em; font-size: 20px; font-weight: bold; margin-top: 10px; }
.logo-text small { display: block; letter-spacing: 3px; font-weight: bold; font-family: "微软雅黑"; }

/*SideMenu */
.quick-menu { float: right; text-align: right; font-size: 12px; margin-top: 8px; }
.quick-menu ul { float: right; line-height: 20px; list-style: none; margin: 0; }
.quick-menu ul li { float: left; }
.quick-menu a { padding: 0 5px; color: #173E75; text-decoration: none; }
.quick-menu a:hover { color: #ee6611; }
.quick-menu img { vertical-align: text-bottom; }
.quick-menu strong { font-size: 1.5em; font-weight: bold; }

/*Nav */
nav { background: rgba(0, 0, 0, 0.9); position: fixed; width: 100%; top: 60px; z-index: 99; }

nav ul { float: left; margin: 0 0 0 150px; list-style: none; line-height: 50px; font-weight: bold; }

nav ul li { float: left; }

nav ul li.active { background-color: #999; }

nav ul li:not(.active):hover { background-color: #666; }

nav a { color: #fff; padding: 0 20px; }

nav a:hover { color: #fff; text-decoration: none; }

/*Background */
.header.bg { background-color: #ffaa22; color: #fff; }

/*Slider */
.slider { width: 100%; height: 400px; position: relative; background: #d5d5d5; overflow: hidden; min-width: 980px; }

.slider:after { content: ""; width: 100%; height: 400px; display: block; }

/*slider-img */
.slider-main { position: absolute; width: 100%; list-style: none; margin: 0; padding: 0; top: 0px; transition: top 0.3s linear; }

.slider-main li { position: relative; width: 100%; height: 400px; }

/*slider-btn */
.slider-btn { position: absolute; bottom: 30px; width: 100%; text-align: center; }

.slider-btn a { display: inline-block; width: 20px; height: 20px; background: rgba(255, 255, 255, 0.3); margin: 0 5px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; }

.slider-btn a.active { background: rgba(255, 255, 255, 0.8); }

/*Floater */
.absolute-toolkit { width: 100%; height: 0px; min-width: 980px; position: relative; }

.absolute-right { width: 240px; background: rgba(0, 0, 0, 0.8); position: absolute; top: -360px; right: 20px; }

.absolute-right img { width: 200px; height: 200px; margin: 10px 20px; }

.toolkit-button { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; width: 220px; padding: 10px; margin: 10px; text-align: center; background: #fa2; }

.slide-list { position: relative; }
.slide-list:after { display: block; content: ""; clear: both; }
.slide-list .arrow { position: absolute; width: 50px; height: 200px; background: rgba(0, 0, 0, 0.1); }
.slide-list .arrow.arrow-left { left: 0; }
.slide-list .arrow.arrow-right { right: 0; }
.slide-list .slide-content { position: absolute; width: 100%; padding: 0 50px; }

#data-list { position: relative; padding-right: 200px; height: 200px; }

#data-update { position: absolute; right: 0; top: 0; width: 200px; min-height: 200px; height: 100%; text-align: center; font-size: 2em; font-weight: bold; background: #1F459A; color: #fff; display: table; }
#data-update div { display: table-cell; height: 100%; vertical-align: middle; }

#news-title li { width: 180px; margin-right: 20px; text-align: center; background: #cccccc; position: relative; cursor: pointer; }
#news-title li a { color: #333; }
#news-title li:last-child { margin-right: 0; }
#news-title li.active { background: #173E75; color: #fff; }
#news-title li.active a { color: #fff; }
#news-title li.active:after { content: ""; width: 0; height: 0; border: 15px solid #173E75; border-right-color: transparent; border-left-color: transparent; border-bottom-color: transparent; position: absolute; top: 40px; left: 75px; }

#news-content div { display: none; }
#news-content div.active { display: block; }
#news-content img { vertical-align: top; margin-top: 30px; }
#news-content ul { margin-left: 20px; width: 400px; }
#news-content ul li { padding: 5px 0; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
#news-content ul li:before { content: ">"; display: inline-block; margin-right: 5px; }
#news-content ul li a { color: #333; }
#news-content ul li a:hover { color: orange; }

#career ul li { padding: 10px 0; }

#contact { height: 350px; background: url("/images/contact_bg.jpg") no-repeat center/cover; background-size: cover; position: relative; }

#contact-form .form-control { color: #add1f1; }
#contact-form input.form-control { height: 40px; padding-left: 30px; }
#contact-form textarea.form-control { height: 140px; padding-left: 30px; resize: none; }
#contact-form button.btn { height: 40px; }
#contact-form p { position: relative; }
#contact-form p:before { position: absolute; font-family: FontAwesome; left: 0; display: block; width: 30px; padding-top: 9px; text-align: center; color: #add1f1; }
#contact-form #input_user:before { content: ""; }
#contact-form #input_email:before { content: ""; }
#contact-form #input_phone:before { content: ""; }
#contact-form #input_message:before { content: ""; padding-top: 5px; }
