$cMain: #173E75
$cDarkMain: #0A2C5D
$cLightMain: #0755C3
$cWhite: #FFFFFF
$wMain: 980px

$colors: (background: #f2f2f2, white:#ffffff, main: #173e75, dark-main: #0a2c5d, light-main: #0755c3, red: #ee0000, gray: #cccccc, dark-gray: #999999, green: #009900, light-green: #00bb00, orange: #ed7721, cyan: #00edff, blue: #428bca)

@function get-border($bw, $c)
  @return #{$bw}px solid #{$c}

=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  -ms-border-radius: $radius
  border-radius: $radius

=box-shadow($value)
  -webkit-box-shadow: $value
  -moz-box-shadow: $value
  -ms-box-shadow: $value
  box-shadow: $value