#user-menu { float: left; list-style: none; margin-top: 20px; }

#user-menu li { float: left; width: 30px; height: 30px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; border-radius: 50%; text-align: center; line-height: 32px; background: #FFFFFF; color: #173E75; margin: 0 10px; cursor: pointer; }

#user-menu li:hover { color: #0A2C5D; }

#user { float: right; margin-top: 10px; margin-left: 20px; }

#user p { float: left; margin-right: 10px; line-height: 50px; }

#user img { -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; border-radius: 50%; width: 50px; height: 50px; }

#nav { background: #0A2C5D; }

.nav-list { margin: 0; list-style: none; color: #FFFFFF; }

.nav-list > li { float: left; display: inline-block; position: relative; z-index: 11; padding: 10px 20px; border-left: 1px solid #173E75; cursor: pointer; }
.nav-list > li:last-child { border-right: 1px solid #173E75; }
.nav-list > li.active { background: #0755C3; border: none; }
.nav-list > li > a { color: #FFFFFF; text-decoration: none; }
.nav-list > li:hover { background: #173E75; }

.sub-nav { display: none; position: absolute; z-index: 11; list-style: none; margin: 0; left: 0; background: #0A2C5D; }
.sub-nav li { padding: 10px 20px; }
.sub-nav li:hover { background: #173E75; }
.sub-nav li > a { color: #FFFFFF; }

#side-bar { float: left; width: 210px; position: relative; top: 0; left: 0; }

#main { width: 760px; float: right; position: relative; top: 0; right: 0; }

#loading { display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.1); z-index: 999; }
#loading .circle { width: 100px; height: 100px; position: absolute; top: 50%; left: 50%; margin-top: -50px; margin-left: -50px; }
#loading .circle.animation { border: 5px solid #0755C3; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; border-radius: 50%; border-left-color: transparent; animation: circle 2s linear infinite; }
#loading .circle.text:before { content: "Loading..."; display: block; width: 100%; height: 100%; text-align: center; padding-top: 40px; color: #0755C3; font-weight: bold; }

@keyframes circle { 0% { transform: rotate(0deg); }
  25% { transform: rotate(90deg); }
  50% { transform: rotate(180deg); }
  75% { transform: rotate(270deg); }
  100% { transform: rotate(360deg); } }
.tabs .tab-title ul { list-style: none; margin: 0; border-bottom: 3px solid #999; padding: 0 10px; }
.tabs .tab-title ul li { display: inline-block; padding: 10px 20px; border-bottom: 3px solid #999; font-size: 1.1em; margin-bottom: -3px; cursor: pointer; }
.tabs .tab-title ul li.active { border-color: #173E75; }
.tabs .tab-content { padding: 10px 0; }

.box { width: 100%; }
.box.bordered { border: 1px solid #ddd; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; border-radius: 5px; }
