@import "core.sass"

//  Elements
*
  margin: 0
  padding: 0
html, body 
  margin: 0
  padding: 0
  height: 100%
  font-family: Consolas
ul
  margin: 0
  list-style: none


//  Container
.wrap
  width: $wMain
  margin: 0 auto
  &:after
    content: ' '
    display: block
    clear: both

.wrapper 
  width: 100%
  min-width: $wMain
  min-height: 100%
  position: relative


//  Normal
.float-right
  float: right
.float-left 
  float: left
.clear 
  clear: both
.no-style
  list-style: none

//  Fonts
.font-sm
  font-size: 12px

.bold
  font-weight: bold


//Color & bgColor
@each $name, $color in $colors
  .#{$name}
    color: $color
    &:hover
      color: $color
  .bg-#{$name}
    background-color: $color
  .border-#{$name}
    border-color: $color
.box-shadow
  box-shadow: 1px 1px 1px #ddd


//  Sizes
.size-full
  width: 100%
.size-mini
  width: 150px
.size-small
  width: 300px
.size-medium
  width: 600px
.size-large
  width: 900px
@for $i from 1 to 15
  .size-#{$i*10}
    width: #{$i*10}px
.full-size
  width: 100%
  height: 100%
.full-height
  height: 100%
.full-width
  width: 100%
.half-height
  height: 50%
.half-width
  width: 50%

//  Positions
.pos-rel
  position: relative
.pos-abs
  position: absolute
.pos-fix
  position: fixed
.left
  left: 0
.right
  rigth: 0
.top
  top: 0
.bottom
  bottom: 0
.z-top
  z-index: 9999
.z-bottom
  z-index: -1

.no-padding
  padding: 0
.no-padding-left
  padding-left: 0
.no-padding-right
  padding-right: 0

$dirList: left, right, top, bottom
@for $i from 1 through 20
  .padding-#{$i*5}
    padding: #{$i*5}px
  @each $dir in $dirList
    .#{$dir}-#{$i*10}
      #{$dir}: #{$i*10}px
    .padding-#{$dir}-#{$i*5}
      padding-#{$dir}: #{$i*5}px
    .margin-#{$dir}-#{$i*5}
      margin-#{$dir}: #{$i*5}px
  .line-height-#{$i}
    line-height: #{1 + $i/10}em


//Checkbox & Radio
input[type=checkbox], input[type=radio]
  position: absolute
  left: -9999px
  opacity: 0
  &+.text
    position: relative
    display: inline-block
  &+.text:before
    content: ''
    display: inline-block
    width: 18px
    height: 18px
    padding: 2px
    border: 1px solid #999
    vertical-align: top
    margin-right: 5px
input[type=checkbox]
  &:checked+.text:before
    content: '\f00c'
    font-family: FontAwesome
    color: $cMain
    line-height: .9em
input[type=radio]
  &+.text:before
    +border-radius(50%)
  &:checked+.text:before
    background: $cMain
    background-clip: content-box

//Fixes to bootstarp.min.css
.form-group label
  font-weight: normal
.modal
  width: 600px
  margin: 0 auto
  &.modal-sm
    width: 300px
  &.modal-lg
    width: 900px
  .modal-dialog
    width: 100%
  .modal-footer
    text-align: left